body html {
    margin: 0;
    padding: 0;
  }

.full-header{
  background-color: #22264b;
} 

.main-header{
    text-align:center;
    width: 100%;
    color: #e6cf8b;
}

.nav-bar-custom-design{
  
  color:#e8edf3;
}

.nav-bar-custom-design a{
  color:#e8edf3;
  text-decoration: none;  
}

.nav-bar-custom-design a:hover{
  color:#e6cf8b;
}

.navbar-nav .active-tab{
  color:#e6cf8b;
}

.logo{
    width: 50%;
    margin: 0 auto;
    padding: 0;
    margin-top: 11px;
}
.logo h1{
    font-weight: bold;
    letter-spacing: 1px;
    width: auto;
}

.bag-login-logout {
    top: 15px;
    right: 2px;
   text-align: right;
   margin-right: 5%;
   margin-top: 3.5%;
}

.top-left p{ 
  margin-left: 5%;
  margin-top: 3.5%;
  color:#e8edf3;
  font-size: 13px;
}
.top-right .bag-login-logout ul li{
    display: inline-block;
    padding-left:10px; 
}

.top-right .bag-login-logout ul li a{
  color:#e8edf3;
  font-size: 13px;
}

.top-right .bag-login-logout ul li a:hover{
  color:#e6cf8b;
}

a:hover{
  text-decoration: none;
}

.category-dropdown{
  opacity: 0.6;
  background: #22264b;
}

.thumbnail {
 
}

.thumbnail img{
    min-height:150px;
    max-height: 250px;
    min-width: 100px;
    max-width: 300px;
}

.thumbnail img{
  transition: transform 1s;
}

.thumbnail img:hover {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.5);
  cursor: pointer;
}

.thumbnail .description{
    color:rgb(134, 132, 132);
}
.price{
    font-size: 16px;
    font-weight: bold;
}

.btn-txt-uppercase{
  text-transform: uppercase;
  letter-spacing: .5;
}
.successTick{
    color:rgba(16, 156, 4, 0.76) !important;
}

.errorMsg{
    color:rgb(231, 5, 5) !important;
}

.makeItClickable{
    cursor: pointer;
}

.header-style{
    background-color: #22264b;
    color:#ffffff;
    font-size: 12px;
    text-transform: uppercase;
}
  
  .navbar {
    margin-bottom: 0;
  }

  .gap3{
    margin-top: 6%;
  }

  .page-heading{
    color: #b56969;
    text-transform: uppercase;
    letter-spacing: 1;
  }
  
  .jumbotron {
    padding-top: 1rem;
    padding-bottom: 6rem;
    margin-bottom: 0;
    background-color: #fff;
  }
  
  .jumbotron p:last-child {
    margin-bottom: 0;
  }
  
  .jumbotron-heading {
    font-weight: 300;
  }
  
  .jumbotron .container {
    max-width: 40rem;
  }
  
  .album {
    min-height: 50rem; /* Can be removed; just added for demo purposes */
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #f7f7f7;
  }
  
  .card {
    float: left;
    width: 33.333%;
    padding: .75rem;
    margin-bottom: 2rem;
    border: 0;
  }
  
  .card > img {
    margin-bottom: .75rem;
  }
  
  .card-text {
    font-size: 85%;
  }
  
  footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  
  footer p {
    margin-bottom: .25rem;
  }
