body {
    padding-top: 54px;
  }
  
  @media (min-width: 992px) {
    body {
      padding-top: 56px;
    }
  }
  
  header.masthead {
    background: url('../img/landing-page-img.jpg') no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }
  
  header.masthead>.overlay {
    padding: 5rem 0;
    text-align: center;
    background: rgba(34, 38, 75, 0.3);
  }
  
  @media (min-width: 992px) {
    header.masthead>.overlay {
      padding: 10rem 0;
    }
  }

  .top-header{
    height: 82px !important;
  }

.landing-page-slogan {
  color: #e6cf8b;
}

header.aboutUs{
  background: url('../img/landing-page-img.jpg') no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}


