.productDetails{
    font-size: 12px;
    letter-spacing: 1px;
    padding: 0 10px 0 0;
}

.shopThis{
    text-decoration: none;
    text-transform: uppercase;
}
.single-product{
    width: 100%;
    height: 100%;
}

.img-separator {
    background-image: url(../img/item-image-separator.gif);
    background-position: bottom left;
    background-repeat: repeat-x;
    height: 3px;
    width: 100%;
}