.continueShopping{
    background:#e6cf8b !important;
    color:#22264b;
}
.continueShopping:hover{
    color:#22264b;
    background: #c2ac6f;
}

.placeOrderBtn{
    color:#c2ac6f;
    background:#22264b !important;
    text-transform: uppercase;
    letter-spacing: .5;
    float: right;
}

.placeOrderBtn:hover{
    color:#e8edf3;
    background: #444b7e;
}